<!DOCTYPE html>
<html lang="en">
    <head>
    	<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-42792405-2"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-42792405-2');
		</script>
		<script>
		function myFunction(){
			setTimeout(() => {  document.getElementById("loading").innerHTML = ""; }, 20000);
		}
		</script>
      <meta charset="utf-8">
      {{ bokeh_css }}
      {{ bokeh_js }}
        <style>
             {% include 'styles.css' %}
        </style>
    </head>
    <body onload=myFunction()>
    	<h1>COVID-19 Status Reports</h1>
      {{ plot_div|indent(8) }}
      {{ plot_script|indent(8) }}
    </body>
    <div id="loading">
    	<center><IMG SRC="https://media.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif"></center>
    </div>
</html>