.bk-root .country_1 .bk-input {
	color: white;
	background-color: #21618C;
	border-color: #21618C;
}

.bk-root .country_2 .bk-input {
	color: white;
	background-color: #ff4d4d;
	border-color: #ff4d4d;
}

.bk-root {
	font-size: 16px;
}

.bk-root .bk-data-table{
	font-size: 14.5px;
}

label {
	font-weight: bold;
}

body {
  	font-family: Helvetica, Arial, Sans-Serif;
  	/*width: 1200px;*/
  	width: 600px;
	margin-left: auto;
	margin-right: auto;
	line-height: 1.3;
}

@media only screen and (max-width: 1000px) {
	body {
		zoom: 125%;
	}
}